body {
    background-color: antiquewhite;
    width: 80%;
    border: 1.5em dashed gray;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3%;
    color: rgb(77, 17, 92);
    font-weight: 400;
}
h1{
    margin: 1em;
    color: darkred;
    text-align: center;
    font-weight: 700;
}
input {
    display: none;
}
label {
    display: flex;
    padding: 1em;
    background: burlywood;
    transition: ease 1s;

}
label::after{
    padding: auto;
    font-family: 'Lato', sans-serif;
}
input:checked+label::after {
    transform: rotate(90deg);
}

label:hover {
    background: greenyellow;
}
.picture{
    display: flex;
    overflow: hidden;
    border-radius: 7%;
    cursor: pointer;
    border: 0.5vh solid brown;
}
.picture img {
    height: 100%;
    width: 100%;
}
input+label+.picture {
    height: 0;
    opacity: 0;
    transition: all 0.8s linear;
}
input:checked+label+.picture {
    height: 100%;
    opacity: 100%;
    transition: all 1.5s;
}
@media (hover: hover) {

    .picture:hover {
        opacity: 100%;
        height: 100%;
    }
    label:hover+.picture {
        opacity: 100%;
        height: 100%;
    }
}
